@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #ffffff;
  --background-color: #f5f8ff;
  --primary-color: #4e47ff;
  --See-Action-content-h2: #252432;
  --secoundy-color: #252432;
  --See-Action-content-p: grey;
  --secound-sectio-bgColor: #e5e7ff;
}

.main-btn {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(background-color);
}

.main-container {
  margin: 0 auto;
  width: 80%;
}

nav .logo {
  font-weight: bold;
  font-size: 34px;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
}

nav {
  margin: 0 auto 158px auto;
  width: 80%;
  padding: 50px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*  !start Header Section */

header {
  height: 100vh;
  width: 100%;
  background-image: url(../Assets/Hero-bg.png);
}

/*  !  Hero content */

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 62%;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 65px;
  text-align: center;
  margin-bottom: 37px;
}

/* ! Start Main section */

.first-section {
  margin: 100px auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
}

.See-Action-content h2 {
  font-size: 42px;
  font-weight: bold;
  color: var(--See-Action-content-h2);
  margin-bottom: 23px;
}
.See-Action-content p {
  font-size: 24px;
  color: var(--See-Action-content-p);
  line-height: 30px;
  margin-bottom: 23px;
  opacity: 50;
}

.See-Action-Banner {
  overflow: hidden;
  border-radius: 48px;
}

.See-Action-Banner figure img {
  width: 100%;
  object-fit: cover;
}

/*  ! Secound section  style */

.Secound-section {
  margin: 100px auto auto;
  padding: 50px 80px 50px 80px;
  background-color: var(--secound-sectio-bgColor);
  border-radius: 24px;
}

.Joined h4 {
  font-size: 38px;
  font-weight: bold;
  color: var(--secoundy-color);
  text-align: center;
  margin-bottom: 40px;
}

/*  ! start secound section  */

.productive-user {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 158px;
  margin-bottom: 137px;
}
.productive-user h3 {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  color: var(--primary-color);
}
.productive-user p {
  font-size: 20px;
}
